# Configuración de Supabase
VITE_SUPABASE_URL=https://tu-proyecto.supabase.co
VITE_SUPABASE_ANON_KEY=tu-clave-anonima
# Secreto del Webhook de Notificaciones (Debe coincidir con Cloudflare y DB)
VITE_PUSH_WEBHOOK_SECRET=5fca5a4d8825d4de66811590f47af870b01d45e80f391920f4ea76a59ae3c8bf